body{margin: 0;}
*{box-sizing: border-box;}
a{background-color: transparent;color:grey;text-decoration: none;}
a:hover,a:active{outline: 0;}
.titre_rouge{
    color: crimson;
    font-family: 'Dancing Script', cursive;
}
.titre_blanc{
    color: white;
    font-family: 'Dancing Script', cursive;
}
.fond_rouge{
    background-color: crimson;
}
.texte_blanc{
    color: white;
}
.texte_rouge{
    color: crimson;
}
h2{
    width: 100%;
    text-align: center;
}
/*Header */
header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px black solid;
    z-index: 1100;
    box-shadow: -10px 2px 10px black;
    background-color: white;
}
.invisible{
    opacity: 0;
    position: absolute;
}
.fixed{
    position: fixed;
    top:0;
    left:0;
}
header nav{
    width: 40%;
}
header ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
header li{
    margin: 2%;
}
img[title="logo"]{
    width: 170px;
    height: 80px;
    margin-left: 5%;
}
/* Footer*/
footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
#contact_horaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#horaires{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#horaires h3{
    margin-bottom: 0;
}
#horaires p {
    width: 40%;
    text-align: center;
    margin-top: 0;
}
#site_map{
    align-self: center;
}
#localisation{
    align-self: center;
}
#localisation #map2{
    width: 250px;
    height: 160px;
    background-color: white;
    margin-bottom: 10px;
}
.svg_footer{
    width: 40px;
    height: 40px;
    fill: white;
}
#svg_linkedin{
    width: 30px;
    height: 30px;
    position: relative;
    top:-10px;
}
section{
    display: flex;
    flex-direction: column;
}
/*Accueil : Mael */
#index_carousselle:focus{
    outline: 0;
}
#index_carousselle img{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#index_carousselle{
    background-color: black;
}
img[title='cuisinemonde'],img[title="legumefeu"]{
    opacity: 0.7;
}
img[title="logo_caroussel"]{
    position: absolute;
    z-index: 1300;
    width: 30%;
}
#index_carousselle h1{
    z-index: 1500;
    position: absolute;
    font-size: 5em;
    top:25%;
    width: 100%;
    left: 23%;
    text-shadow: 20px 10px black;
}
#index_decouverte_monde{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.slick-slide, .slick-cloned{
    outline: 0;
}
.slick-next{
    right: 0;
    z-index: 1100;
}
.slick-prev{
    left: 0;
}
#buttonarrownext{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 88%;
    left:60%;

    display: flex;

    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;
    border-radius: 50px;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
#buttonarrowprev{
    font-size: 0;
    line-height: 0;
    z-index: 1000;
    position: absolute;
    top: 85%;
    left:40%;
    border-radius: 50px;
    display: flex;

    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
#index_decouverte_monde div:last-of-type{
    flex-direction: row-reverse;
}
img[title="flecheversbas"]{
    z-index: 1000;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 91%;
    align-self: center;
    background-color: white;
    border-radius: 50%;
    padding: 1px;
}
a{
    align-self: center;
}
#index_decouverte_monde a{
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 2%;
}
.index_decouverte_monde_images{
    display: flex;
    width: 80%;
    justify-content: space-around;
}
.index_decouverte_monde_images img{
    width: 400px;
    height: 200px;
}
.index_decouverte_monde_images p{
    width: 400px;
    height: 200px;
}
#index_ils_adorent ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
#index_ils_adorent img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50px;
}
#index_nous_trouver{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#map{
    width: 350px;
    height: 200px;
    background-color: black;
}
#map a{
    opacity: 0;
}
#index_carte_localisation{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}
#index_carte_localisation p{
    width: 400px;
}
#index_nous_trouver a{
    align-self: flex-end;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 50px;
    width: 80px;
    padding: 2px;
    text-align: center;
}
#index_equipe{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:5px;
}
#index_collegue{
    display: flex;
    justify-content:space-between ;
    width: 60%;
}
#index_equipe img{
    width: 150px;
    border-radius: 50px;
}
#index_equipe a{
    align-self: flex-end;
    margin-right: 2%;
    background-color: white;
    border-radius: 50px;
    margin-bottom: 1%;
    padding: 5px;}

/* ---------------- Mickael -----------------*/
.contact{
    display: block;
    text-align: center;
}
.contact_form{
    margin: 15px;
    text-align: center;
}
.contact .champ{
    width: 300px;
    text-align: center;
}
.contact #zonetextr{
    height: 200px;
}

.contact .red{
    color: red;
}
.contact .bloc_contact{
    display: inline-grid;
    width: 300px;
}
.btn_envoyer{
    padding:6px 0 6px 0;
    font:bold 13px Arial;
    background:#478bf9;
    color:#fff;
    border-radius:2px;
    width:100px;
    border:none;
}
/* ---------------- Fin Mickael -----------------*/




/*     --------------MARIE -----------------*/
/* styles culinaires*/
.body{
    margin: 0;
}
h2{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.sc_title{
    color: white;
    background-color: crimson;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sc_pays{
    height: 200px;
}
.sc_blocpays{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
}
.sc_blocktitle{
    position: absolute;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 200px;
}
.sc_pays{
    margin:10px;
    width: 300px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.sc_paystitle{
    top: 25%;
    position: relative;
    z-index: 2;
    color: white;
    font-size: 30px;
    font-family: ‘Dancing Script’, cursive;
    text-transform:capitalize;
}
.sc_title span{
    text-transform : capitalize;
}
.sc_pays:hover{
    -webkit-transform:scale(1.05); /* Safari et Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* Internet Explorer 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}
.sc_imgpays {
    width: 100%;
    height: 200px;
    -webkit-filter: brightness(60%);
}
.sc_imgpays:hover{
    -webkit-filter: brightness(40%);
}


.sc_blocpaysdessert{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;

}

/* differents plats */

/* header */
.plat_blockheader {
    position: relative;
    width: 100%;
    height: 400px;
    background:url("style_culinaire/images/italien/italie.jpg") no-repeat center ;
    -webkit-filter: brightness(60%);
    background-size: cover;
}

.plat_blocktitle{
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
    color: white;
    position: relative;
    font-weight: 600;
    z-index: 1;
    font-size: 40px;
}
.plat_spanblocktitle {
    text-decoration: underline;
}
/* presentation pays */

.plat_blockpresentationglobal{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
}
.plat_blockpresentationglobal img{
    width: 150px;
    float: left;
}
.plat_blockpresentationglobal p{
    text-align: justify;
    line-height: 25px;
    max-width: 700px;
    font-family: ‘Dancing Script’, cursive;
}
.plat_blockpresentationglobal p:first-letter {
    float: left;
    font-size: 50px;
    font-family: ‘Dancing Script’, cursive;
}

/* presentation des spécialité */

.plat_blockspecialite{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
.plat_specialitetitle{
    font-size: 40px;
    font-family: ‘Dancing Script’, cursive;
}
.plat_difspec{
    font-size: 15px;
    font-family: ‘Dancing Script’, cursive;
}

/* les différents plats */

.plat_blockdifferents{
    margin: 30px;
}

.plat_blockrecette{
    max-width: 300px;
    display: inline-block;
    margin: 15px;
}

.plat_blockrecette img{
    width: 300px;
    height: 200px;
}

.title_plat{
    font-size: 25px;
    text-transform : capitalize;
    font-family: ‘Dancing Script’, cursive;


}
.plat_presentation{
    font-size: 15px;
    text-align: justify;
    font-family: ‘Dancing Script’, cursive;
}
.tarif{
    font-size: 15px;
    text-align: justify;
    font-family: ‘Dancing Script’, cursive;
}


/* BLOG & ACTU*/
.actualite{
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.ba_title{
    text-align: center;
    font-family: ‘Dancing Script’, cursive;
    font-size: 20px;
    font-weight: bold;
}

.block_actualite{
    width: 405px;
    height: 600px;
    display: inline-table;
    border: outset 3px;
    margin: 20px;

}
.block_actualite img{
    width: 400px;
    height: 280px;
}
.date_blog {
    font-size: 13px;
    font-family: ‘Dancing Script’, cursive;
    font-weight: bold;
    text-align:left ;
    margin-left: 10px;
}

.block_actualitetitle{
    font-size: 20px;
    font-family: ‘Dancing Script’, cursive;
    font-weight: bold;
    text-align: center;

}
.block_actualitetext{
    font-size: 15px;
    text-align: justify;
    font-family: ‘Dancing Script’, cursive;
    padding: 20px;
}
.blog_bouton{
    margin-left: auto;
    margin-right: auto;
    width:100px;

}
.blog_bouton a{
    background-color:crimson;
    font-size: 15px;
    cursor:pointer;
    font-family: ‘Dancing Script’, cursive;
    text-decoration:none;
    color:white;
    border-radius: 50px;

}
.blog_bouton:hover {
    transform:scale(1.05);
}

/*     ACTU       */

/*       BLOG      */


/*     --------------MARIE fin -----------------*/