/* ---------- marie ------------*/

/* differents plats */

.plat_blockheader {
    position: relative;
    width: 100%;
    height: 400px;
    background:url("images/italien/italie.jpg") no-repeat center ;
    -webkit-filter: brightness(60%);
    background-size: cover;
}
.plat_blocktitle{
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
    color: white;
    position: relative;
    font-weight: 600;
    z-index: 1;
    font-size: 40px;
}
.plat_spanblocktitle {
    text-decoration: underline;
}



/* ----------- MARIE fin --------- */